@import "tailwindcss";

:root {
    --background: rgb(231, 231, 231);
    --text: #111112;
  
    --custom-lime: #b2c73a;
}

.dark {
    --background: #202022;
    --text: rgb(211, 212, 218);

    --custom-lime: #d2ff00;
}

@theme {
    --color-background: var(--background);
    --color-text: var(--text);
    --color-customlime: var(--custom-lime);

    --ease-in-expo: ease-[cubic-bezier(0.95, 0.05, 0.795, 0.035)];
}

body {
    background: var(--background);
    color: var(--text);
    transition: background 0.5s ease-in, color 0.3s ease-in;
}