@import "tailwindcss";

@theme {

    /* --color-background: #23222B; */
    --color-background: #111112;

    --color-backgroundlando: #111112;
    --color-limalando: #d2ff00;
    --color-limeoff: #b2c73a;

    --ease-in-expo: ease-[cubic-bezier(0.95, 0.05, 0.795, 0.035)];
}